@import "../../../styles.scss";
.admin-upload-section{
    color:$fontColor;
    width: 100vw;
    height:800px;
    flex-direction: column;
    justify-content: start;
    font-size: 16px;
    position: relative;
    top: 80px;
}
.image-section{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border: 2px $fontColor solid;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.image-section::after{
    content: '';
    position: absolute;
    height: 95%;
    width: 95%;
    background-color:$designColor;
    border-radius: 10px;
    z-index: -1;
}
.product-details{
    margin:20px;
    flex-direction: column;
}
.txt-input{
    color:$fontColor;
    background:transparent;
}
.input-section{
    margin-top: 20px;
    color:$fontColor;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-input{
    width: 188px;
}
.input-section textarea{
    color:$fontColor;
    background: transparent;
}
.submit-btn{
    margin-top: 20px;
    color:$bgColor;
    cursor: pointer;
    background-color:$designColor;
    border: none;
    width:200px;
    height: 40px;
    border-radius: 5px;
    align-self: center;
}
.submit-btn:hover{
    color:$bgColor;
    background-color:$fontColor;
}
.image-input{
    width: 180px;
}
.btn-section{
    width: 100%;
    height:auto;
}
.product-image{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}