<form [formGroup]="productData" class="admin-upload-section flex" (ngSubmit)="onSubmit()" >
        <div class="image-section flex">
            <img *ngIf="productData.value.prodImg" [src]="productData.value.prodImg" class="product-image" />
        </div>
        <div class="product-details">
            <div class="prod-price-section input-section">
                <label>
                    Product Image :
                </label>
                <input  type="file" accept="image/*" class="image-input" (change)="onChange($event)"  />
            </div>
            <div class="prod-name-section input-section" >
                <label>
                    Product Name :
                </label>
                <input type="text" class="txt-input" formControlName="prodName"/>
            </div>
            <div class="prod-price-section input-section">
                <label>
                    Product Price :
                </label>
                <input type="number" class="txt-input"   formControlName="prodPrice"/>
            </div>
            <div class="prod-price-section input-section">
                <label>
                    Product Family :
                </label>
                <select class="select-input" formControlName="productFamily">
                    <option *ngFor="let family of productFamilyList">
                        {{family}}
                    </option>
                </select>
            </div>
            <div class="prod-price-section input-section">
                <label>
                    Product Rating :
                </label>
                <input type="number" class="txt-input"   formControlName="productRating" placeholder="Event star out of 5"/>
            </div>
            <div class="input-section">
                <label>
                    Product Desription : 
                </label>
                <textarea formControlName="prodDes"></textarea>
                <!-- <input type="text"  formControlName="prodDes" class="txt-input"/> -->
            </div>
            <div class="btn-section flex">
                <button class="submit-btn" type="submit">
                    Submit
                </button>
            </div>
        </div>
</form>
<ng-container #loaderContainer>

</ng-container>