<div class="container pad-top-other">
    <div class="row">
        <h4 class="col-12 id">
            Order Id -  <span class="order-id-span"><strong>{{orderId}}</strong></span>
        </h4>
        <p>
           Expected:{{expectedTime}}
        </p>
        <div class="col-12 col-md-12 tracking-container flex-vertical m-bot-40">
            <ng-container *ngFor="let stage of trackingMapList;let i=index;let od=odd;let end=last" class="m-4">
                <div class="track-stage flex" [ngClass]="i<activeTrackingIndex?'active-track-stages':'unactive-track-stages'">
                    <span [ngClass]="!od?'bold-text-even':'bold-text-odd'">
                        <b >
                            {{stage}}
                            <br/>
                        </b>
                        <label *ngIf="i==0">
                            Departed 
                        </label>
                        <label *ngIf="i != 0 && i == activeTrackingIndex-1 && !end">
                            Reached {{stage}}
                        </label>
                        <label *ngIf="end  && i == activeTrackingIndex-1">
                            delivered product
                        </label>
                    </span>
                </div>
                <div class="track-line" *ngIf="!end">
                    
                </div>
            </ng-container>
        </div>
    </div>
</div>