<div class="footer-container" >
    <div class="screen" >
        <div class="container">
        <div class="row d-flex align-items-center" >
            <div class="col-12 col-md-6 col-lg-4" >
                <div class="text-div">
                    <img src="../../assets/logo.png" class="logo-img"  (click)="navToHome()"/>
                    <strong >
                        Art of Creativities
                    </strong>
                    <p class="foooter-para">
                        Power looms revolutionized cotton production by increasing efficiency and reducing 
                        manual labor. They enable faster weaving of cotton fabric, leading to higher output 
                        and lower production costs for the textile industry.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" >
                <div class="text-div">
                    <strong >
                         About us
                    </strong>
                    <p class="foooter-para">
                        We specialize in crafting high-quality cotton cloth, using sustainable practices from farm to fabric. Our mission is to deliver soft, durable, and eco-friendly cotton textiles that support both comfort and sustainability.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" >
                <div class="text-div">
                    <strong >
                         Contact us
                    </strong>
                    <div class="foter-icon-container">
                        <i class="bi bi-phone-fill icon"></i>
                        <span>
                            +91 8074178839
                        </span>
                        <p class="foooter-para">
                            For inquiries about our cotton cloth products, feel free to reach out to us. We're here to assist you with any questions or orders, ensuring you receive the best in quality and service.
                        </p>
                    </div>
                  
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
