@import "../../styles.scss";
.loading{
    width: 100vw;
    height: 100vh;
    background-color:transparent;
    position:fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
     backdrop-filter:blur(5px);
     box-shadow: 2px 2px 10px grey;
     z-index: 3;
}
.loader{
    width: 300px;
    height:100px;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px grey;
}
.span{
    margin: 10px;
    background-color:$designColor;
    border-radius: 10px;
    animation: dot-ani 1s infinite linear;
    animation-direction: alternate;
    width: 20px;
    height: 20px;

}
@keyframes dot-ani{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(2);
    }
}
.span:nth-child(1){
    animation-delay: -0.2s;
}
.span:nth-child(2){
    animation-delay: -0.3s;
}
.span:nth-child(3){
    animation-delay: -0.5s;
}