<div class="container-fluid mt-3 main-container">
    <div class="row">
        <h1 class="col-12 section-heading generic-heading">
            <span class="span-ele">S</span>
            <span class="span-ele">E</span>
            <span class="span-ele">A</span>
            <span class="span-ele">S</span>
            <span class="span-ele">O</span>
            <span class="span-ele">N</span>
            <span class="span-ele">S</span>
        </h1>
        <div class="col-12 col-md-12 flex wear-container mt-3">
            <div class="avail-prod">
                <img src="../../assets/available-products/cloths.webp" alt="cloths" class="product-img" />
                <button class="m-2" (click)="navToProducts('wears')">
                    Wears
                </button>
            </div>
            <div class="avail-prod">
                <img src="../../assets/available-products/gadgets.webp" alt="gadgets" class="product-img" />
                <button class="m-2" (click)="navToProducts('gadgets')">
                    Gadgets
                </button>
            </div>
            <div class="avail-prod">
                <img src="../../assets/available-products/home-product.webp" alt="home-product" class="product-img" />
                <button class="m-2" (click)="navToProducts('asthetics')">
                 Asthetics
                </button>
            </div>
            <div class="avail-prod">
                <img src="../../assets/available-products/utensils.webp" alt="utensils" class="product-img" />
                 <button class="m-2" (click)="navToProducts('utensils')">
                    Utensils
                </button>
            </div>
            <div class="avail-prod">
                <img src="../../assets/available-products/vegetables.webp" alt="vegetables" class="product-img" />
                <button class="m-2" (click)="navToProducts('groceries')">
                       Groceries
                </button>
            </div>
        </div>
    </div>
</div>