@import "../../styles.scss";
.main-container{
    height: transform;
}
.section-heading{
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span-ele:nth-child(1){
    font-size: 100px;
}
.span-ele:nth-child(2){
    font-size: 85px;
}
.span-ele:nth-child(3){
    font-size: 70px;
}
.span-ele:nth-child(4){
    font-size: 55px;
}
.span-ele:nth-child(5){
    font-size: 70px;
}
.span-ele:nth-child(6){
    font-size: 85px;
}
.span-ele:nth-child(7){
    font-size: 100px;
}
.avail-prod{
    cursor: pointer;
    color:$designColor;
    // background:$designColor;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 10px 2px grey;
}
.avail-prod button{
    color:$text-color;
    width: 100px;
    z-index: 1;
    background: transparent;
    border: 2px solid $text-color;
    font-size: 15px;
    border-radius: 5px;
}
.avail-prod::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    top: 0px;
    left: 0px;
}
.avail-prod:nth-child(1){
    width: 250px;
    height: 250px;
    background-image: url("../../assets/available-products/cloths.webp");
    background-size: cover;
}
.avail-prod:nth-child(2){
    width: 200px;
    height: 200px;
    background-image: url("../../assets/available-products/gadgets.webp");
    background-size: cover;
}
.avail-prod:nth-child(3){
    width: 170px;
    height: 170px;
    background-image: url("../../assets/available-products/home-product.webp");
    background-size: cover;
}
.avail-prod:nth-child(4){
    width: 200px;
    height: 200px;
    background-image: url("../../assets/available-products/utensils.webp");
    background-size: cover;
}
.avail-prod:nth-child(5){
    width: 250px;
    height: 250px;
    background-image: url("../../assets/available-products/vegetables.webp");
    background-size: cover;
}
.flex{
    justify-content: space-between;
}
.product-img{
    width: 65%;
    height: 65%;
    z-index: 1;
    border-radius: 50%;
}

@media screen and (max-width:576px){
    .avail-prod{
        margin: 20px;
        width: 280px !important;
        height: 280px !important;
    }
    .wear-container {
        flex-direction: column;
    }
}