<div class="accordian-container flex" [style.width]="reqProps.parentWidth" (click)="parentAccordianEvent()">
        <h1 class="heading">
            {{reqProps.parentHeading}}
        </h1>
        <i class="fa fa-angle-up" [ngClass]="parentAccordianShow?'icon-rotate-forward':parentNotInitial?'icon-rotate-rev':''"></i>
</div>
 <div class="panel y-flex" [style.width]="reqProps.parentWidth" [ngClass]="parentAccordianShow?'panel-open':parentNotInitial?'panel-close':''">
     @if(reqProps.btnText && reqProps.btnShow){
    <div class="flex flex-end w-95 m-10" [ngClass]="parentAccordianShow?'d-flex':'d-none'">
        <button class="btn" (click)="emitOrder(reqProps.orderId)">
                {{reqProps.btnText}}
        </button>
    </div>
    }
    @for(accordian of reqProps.childProps;track $index;){
    
    <div class="accordian-container align-self-center flex" [style.width]="accordian.accordianWidth" (click)="accordianEvent(accordian)">
        <h1 class="heading">
            {{accordian.heading}}
        </h1>
        <i class="fa fa-angle-up" [ngClass]="accordian.accordianShow?'icon-rotate-forward':accordian.notInitial?'icon-rotate-rev':''"></i>
    </div>
     <div class="panel flex-space-around" [style.width]="accordian.accordianWidth" [ngClass]="accordian.accordianShow?'panel-open':accordian.notInitial?'panel-close':''">
        <img [src]="accordian.img" class="image" />
        <div class="flex-vertical">
            <p>
                {{accordian.description}}
            </p>
            <p>
               Quantity : {{accordian.quantity}}
            </p>
            <p>
               Price : {{accordian.price}}
            </p>
        </div>
    </div>
   }
</div>