.accordian-container{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0.5px 1px 10px grey;
    min-height: 50px;
    padding:10px;
      justify-content: space-between !important;
}
.heading{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

.icon{
    font-size: 20px;
}
.icon-rotate-forward{
    animation:icon-rot-for 1s forwards ease;
}
.icon-rotate-rev{
    animation:icon-rot-rev 1s forwards ease;
}
@keyframes icon-rot-for {
 0%   { transform: rotate(0deg); }
    100% { transform: rotate(-180deg); }
}
@keyframes icon-rot-rev {
0%   { transform: rotate(-180deg); }
    100% { transform: rotate(0deg); }
}
.panel{
    margin-top: 5px;
    height: 0px;
    box-shadow: 0.5px 1px 5px grey;
    padding:10px;
    opacity: 0;
}
.panel-open{
    animation: panel-open 1s forwards ease;
    
}
@keyframes panel-open{
    0%{
        height: 0px;
    }
    30%{
        opacity: 0.3;
        height: fit-content;
    }
    100%{
        opacity: 1;
        height: fit-content;
    }
}
.panel-close{
    animation: panel-close 1s forwards ease;
}
@keyframes panel-close{
    0%{
        opacity: 0;
        height: fit-content;
    }
    100%{
        opacity: 0;
        height: 0px;
    }
}
.btn{
    width: fit-content;
}
.image{
    height: 100px;
}