.show-msg-section{
    background:rgba(173, 216, 230, 0.2);
    height:transform;
    width: 100%;
    backdrop-filter: blur(10px);
    border: 1px solid blue;
    border-radius: 4px;
    padding: 10px;
}
.info-icon{
    color:blue;
    padding: 5px 3px 0px 0px;
}