<ng-container *ngIf="orderList.length || mobileAccordianDetails.length">
    <div class="container order-container" *ngIf="orderList"> 
    <div class="row">
         <!-- @if(re.delivered && !reqProps.feedBack){ -->
            <app-show-msg  style="width: 100%;padding: 0px;"
            msgText="Please Provide feedBack of the products you ordered after status reached to delivered that will helps to others reach out the product!
            Once u gven feedbac delivered Orders does not show in view."
            msgType="info"
            >
            </app-show-msg>
        <!-- } -->
        <table class="col-md-12 mt-3 mb-3">
            <thead>
                <tr>
                    <th>
                        Index
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                    Unit Price
                    </th>
                    <th>
                        Total Price
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        FeedBack
                    </th>
                    <th>
                        Order
                    </th>
                </tr>
            </thead>
            <tbody>
            @for (order of orderList; track order._id;let indexOut=$index) {
            
                @for (product of order.orderedProducts;track product.productId;let isFirst=$first){
                    <tr>
                    <td [attr.rowspan]="order.orderedProducts.length" *ngIf="isFirst">
                        {{indexOut+1}}
                    </td>
                    <td>
                    <img [src]="product.productImg" class="image" />
                        <div class="flex pad-10 hover-text" *ngIf="order.delivered && !order.feedBack" 
                            [style.--hover-text]="'\'Provide Feedback\''"
                            >
                                <ng-container *ngFor="let star of (Array(5).fill(0));let i=index;">
                                    <i class="fa-solid fa-star icon" *ngIf="i<product?.userStarRating" (click)="deleteStar(product,i)"></i>
                                    <i class="fa-regular fa-star icon"  *ngIf="i>=product?.userStarRating" (click)="fillStar(product,i)"></i>
                                </ng-container>
                        </div>
                    </td>
                    <td>
                        {{product.productName}}
                    </td>
                    <td >
                        {{product.quantity}}
                    </td>
                    <td>
                        {{product.productPrice | currency:'INR'}}
                    </td>
                    <td [attr.rowspan]="order.orderedProducts.length" *ngIf="isFirst">
                    {{ getTotalPrice(order.orderedProducts) | currency:'INR'}}
                    </td>
                    <td [attr.rowspan]="order.orderedProducts.length"  *ngIf="isFirst">
                        {{order?.delivered?'Delivered':'Not Delivered'}}
                        <br/>
                        <!-- <button  class="btn hover-text" 
                        [style.--hover-text]="'\'Feedback\''" 
                        *ngIf="order.delivered && !order.feedBack"
                        [disabled]="checkFeedbackEnable(order)"
                        (click)="updateUserFeedBack(order.orderedProducts,order._id,order.userId)"
                        >
                            Submit
                        </button> -->
                    </td>
                    <td>
                        <button  class="btn hover-text" 
                        [style.--hover-text]="'\'Feedback\''" 
                        
                        [disabled]="checkFeedbackEnable(order)"
                        (click)="updateUserFeedBack(order.orderedProducts,order._id,order.userId)"
                        >
                            Submit
                        </button>
                    </td>
                    <td [attr.rowspan]="order.orderedProducts.length"   *ngIf="isFirst">
                        <button  class="btn" (click)="trackOrder(order)">
                            Track Order
                        </button>
                    </td>
                </tr>
                }
                    
            }
            </tbody>
        </table>
    </div>
    </div>
    <div class="container mobile-order-container flex-vertical pad-top-other" *ngIf="mobileAccordianDetails">
        <!-- <div class="row  justify-content-md-start justify-content-center">
            <div class="col-11 col-md-4 p-3" *ngFor="let data of orderList">
                <div class="product flex">
                    <div class="col-4 flex">
                        <img [src]="data.productImg" class="image" />
                    </div>
                    <div class="col-8 flex-vertical">
                        <h5>
                            {{data.productName}}
                        </h5>
                        <p >
                            Quantity-{{data.quantity}}
                        </p>
                        <p >
                        {{data.productPrice*data.quantity | currency:'INR'}}
                        </p>
                        <button  (click)="trackOrder(data)" class="btn">
                            Track Order
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
            <h1 class="flex mobile-heading">
                Your Shopy-io Orders
            </h1>
        <ng-container *ngFor="let order of mobileAccordianDetails">
            <app-parent-child-accordian (emitOrerValueForFedback)="emitOrerValueForFedback($event)" [parentProps]="order" (emitOrderTrack)="getOrderTrack($event)">
        
            </app-parent-child-accordian>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="!(orderList.length || mobileAccordianDetails.length)">
    <app-no-records-found></app-no-records-found>
</ng-container>