
.product{
    justify-content: space-around;
    box-shadow: 2px 2px 20px  grey ;
    padding: 10px;
    box-sizing: border-box;
}
.image{
    height: 100px;
}
th,td{
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
}
.btn{
    width: fit-content;
}
thead{
    height: 50px;
    background: #dff2e2;
}
.quntity-btn{
    // width: 20px;
    // height: 20px;
}
.mobile-order-container{
    display: none;
}
@media screen and (max-width:576px){
    .order-container{
        display: none;
    }
    .mobile-order-container{
        display: block;
    }
}