
<div class="container order-container" *ngIf="orderList"> 
  <div class="row">
    <table class="col-md-12 mt-3 mb-3">
        <thead>
            <tr>
                <th>
                    Index
                </th>
                <th>
                    Image
                </th>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                    Order
                </th>
            </tr>
        </thead>
        <tbody>
        @for (order of orderList; track order._id) {
            <tr>
                <td>
                    {{$index+1}}
                </td>
                <td>
                  <img [src]="order.productImg" class="image" />
                </td>
                <td>
                    {{order.productName}}
                </td>
                <td >
                    {{order.quantity}}
                </td>
                <td>
                     {{order.productPrice | currency:'INR'}}
                </td>
                <td>
                    <button  class="btn" (click)="trackOrder(order)">
                        Track Order
                    </button>
                </td>
            </tr>      
        }
        </tbody>
    </table>
  </div>
</div>
<div class="container mobile-order-container pad-top-other" *ngIf="orderList">
        <div class="row  justify-content-md-start justify-content-center">
        <div class="col-11 col-md-4 p-3" *ngFor="let data of orderList">
            <div class="product flex">
                <div class="col-4 flex">
                    <img [src]="data.productImg" class="image" />
                </div>
                <div class="col-8 flex-vertical">
                    <h5>
                        {{data.productName}}
                    </h5>
                    <p>
                        {{data.quantity}}
                    </p>
                    <p>
                       {{data.productPrice*data.quantity | currency:'INR'}}
                    </p>
                    <button  (click)="trackOrder(data)" class="btn">
                        Track Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container #loaderContainer></ng-container>
