@import "../../styles.scss";
.chatbot{
    justify-content: flex-end;
    height: 80vh;
    box-shadow: 2px 2px 10px grey;
}
.chat{
    height: 80%;
    overflow-y: scroll;
    align-items: flex-end;
}
.input-txt{
    padding-left:5px;
    height: 40px;
}
.btn{
    height: 40px;
    border-radius: 0px;
}
.user-msg{
    margin-right: 10px;
    justify-content: flex-end;
}
.server-msg{
    margin-left: 10px;
    justify-content: flex-start;
}
.client{
    padding-left: 10px;
    width: 50%;
    background: $designColor;
}
.server{
  width: 70%;
  background: $mobileBg;
}
