@import "../../styles.scss";
.product{
    justify-content: space-around;
    box-shadow: 2px 2px 20px  grey ;
    padding: 10px;
    box-sizing: border-box;
}
.image{
    height: 100px;
}
th,td{
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
}
thead{
    background: #dff2e2;
    border: none;
}
.btn{
    width: fit-content;
}
thead{
    height: 50px;
}
.quntity-btn{
    width: 30px;
    height: 30px;
    color:$bgColor;
    background: $designColor;
    border: none;
    font-weight: bold;
}
.mobile-cart-container{
    display: none;
}
.btn{
    margin: 10px;
    width: 130px;
}
p{
    margin: 0px;
    margin-top: 5px;
}
@media screen and (max-width:576px){
    .cart-container{
        display: none;
    }
    .mobile-cart-container{
        display: block;
    }
    .product{
        position: relative;
        overflow: hidden;
    }
    .icon{
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 13px;
    }
}