@import "../../styles.scss";
.product{
    justify-content: space-around;
    box-shadow: 2px 2px 20px  grey ;
    padding: 10px;
    box-sizing: border-box;
}
.image{
    height: 100px;
}
th,td{
    border: 2px solid $designColor;
    border-collapse: collapse;
    text-align: center;
}
thead{
    color:$bgColor;
    height: 50px;
    background: $designColor;
}
.btn{
    width: fit-content;
}
thead{
    height: 50px;
}
.quntity-btn{
    width: 30px;
    height: 30px;
    color:$bgColor;
    background: $designColor;
    border: none;
    font-weight: bold;
}
.mobile-cart-container{
    display: none;
}
.btn{
    margin: 10px;
    width: 130px;
}
p{
    margin: 0px;
    margin-top: 5px;
}
.container-box{
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkspan{
    position: absolute;
    top: -10px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.checkspan::after{
    content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}
.checkbox:checked ~ .checkspan{
    background: $designColor;
}
.checkbox:checked ~ .checkspan::after{
    display: block;
}

@media screen and (max-width:576px){
    .cart-container{
        display: none;
    }
    .mobile-cart-container{
        display: block;
    }
    .product{
        position: relative;
        overflow: hidden;
    }
    .icon{
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 13px;
    }
}