<div class="container cart-container">
  <div class="row">
    <table class="col-md-12 mt-3 mb-3">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                    Order
                </th>
            </tr>
        </thead>
        <tbody>
        @for (cart of cartList; track cart._id) {
            <tr>
                <td>
                  <img [src]="cart.productImg" class="image" />
                </td>
                <td>
                    {{cart.productName}}
                </td>
                <td >
                    <button class="quntity-btn" (click)="addQuantity(cart)">
                        +
                    </button>
                    {{cart.quantity}}
                    <button class="quntity-btn" (click)="reduceQuantity(cart)">
                        -
                    </button>
                </td>
                <td>
                     {{cart.productPrice*cart.quantity | currency:'INR'}}
                </td>
                <td>
                    <button  class="btn" (click)="placeOrder(cart)">
                        Place Order
                    </button>
                </td>
            </tr>      
        }
        </tbody>
    </table>
  </div>
</div>
<!---This is for mobile view-->
<div class="container mobile-cart-container">
    <div class="row  justify-content-md-start justify-content-center">
        <div class="col-10 col-md-4 p-3" *ngFor="let data of cartList">
            <div class="product flex">
                <div class="col-4 flex">
                    <img [src]="data.productImg" class="image" />
                </div>
                <div class="col-8 flex-vertical">
                    <h5>
                        {{data.productName}}
                    </h5>
                    <div>
                        <button class="quntity-btn" (click)="addQuantity(data)">
                            +
                        </button>
                        {{data.quantity}}
                        <button class="quntity-btn" (click)="reduceQuantity(data)">
                            -
                        </button>
                    </div>
                    <p>
                       {{data.productPrice*data.quantity | currency:'INR'}}
                    </p>
                    <button (click)="placeOrder(data)" class="btn">
                        Place Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container #loaderContainer></ng-container>
