<div class="render-container">
    <router-outlet>

    </router-outlet>
    <header class="header" *ngIf="headerHide">
        <div class="section flex-space-around" [ngClass]="landingPage?'home-page-header':''">
            <label routerLink="/" class="label" routerLinkActive="header-label"
                [routerLinkActiveOptions]="{exact:true}">
                Home
            </label>
            <label routerLink="/products" class="label" routerLinkActive="header-label">
                Products
            </label>
            <label routerLink="/orders" class="label" routerLinkActive="header-label">
                Orders
            </label>
            <label routerLink="/cart" class="label" routerLinkActive="header-label">
                Cart
            </label>
            <label id="sign-in" (pointerover)="pointHover()" class="label">
                Sign In
            </label>
            <div>
                <i class="fa-solid fa-cart-shopping icon cart" ></i>
            </div>
            <div class="flex">
                <div class="user flex">
                    {{this.shareData.logInUser()[0] }}
                </div>
                <span class="user-span">
                    {{ this.shareData.logInUser()}}
                </span>
            </div>
        </div>
    </header>

    <div class="sign-in-hover" id="sign-in-hover" #signInHover>
        <label routerLink="/admin">
            Admin
        </label>
        <hr class="line" />
        <label routerLink="/register">
            Register
        </label>
        <hr class="line" />
        <label routerLink="/log-in">
            Log In
        </label>
        <hr class="line" />
        <label (click)="onLogOut()">
            Log Out
        </label>
    </div>
    <div class="mobile-nav-section">
        <i class="fa-etch fa-solid fa-angle-up flex icon-font" (click)="clickMobileArrow()" *ngIf="!mobileNav"></i>
        <i class="fa-etch fa-solid fa-angle-down flex icon-font" *ngIf="mobileNav" (click)="clickMobileArrow()"></i>
    </div>
    <div class="whatsapp-container"  *ngIf="headerHide">
    <div class="join-container" [ngClass]="openWhatsapp?'whats-animation-open':(whatsCount===1?'whats-animation-close':'')" >
        <strong class="whats-text" [ngClass]="openWhatsapp?'show-text':''" (click)="MsgThroughWts()">
            Chat With Whatsapp
        </strong>
    </div>
    <img src="../assets/whatsap.webp" class="wts-img" (click)="whatsAppClick()"  />
 
    </div>
    <app-footer *ngIf="headerHide"></app-footer>
</div>