@import "../styles.scss";
.render-container{
    background-color:$bgColor;
    color:$fontColor;
    height: auto;
    opacity: 1;
    width: 100vw;
    position: relative;
}

.header{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    // box-shadow:inset 0px 0px 10px grey;
    background: transparent;
}
.section{
    height: 100%;
    width: 100%;
    background-color:#171615;
    color:$designColor;
    font-weight: bold;
    position: relative;
}
.home-page-header{
    background-color:transparent;
}
.section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // background-image:linear-gradient(to right,#ffffff,$designColor);
    z-index: -1;
    filter: blur(10px);
    top: 0px;
    left: 0px;
}
.label{
    width: 120px;
    padding: 10px;
    text-align: center;
    z-index: 1;
}
.header-label{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.header-label::before{
    content: "";
    position: absolute;
    width: 200%;
    left: -40%;
    height: 25px;
    background-image: linear-gradient(to left,$designColor,$designColor);
    z-index: -1;
    animation: highlight-rot 1s infinite linear;
    border-radius: 4px;
}
@keyframes highlight-rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.header-label::after{
    content: '';
    inset: 4px;
    position: absolute;
    z-index: -1;
    background:$bgColor;
    border-radius: 4px;
}
label{
    cursor: pointer;
}
.sign-in-hover{
    display: none;
}
.line{
    margin: 0px;
    width: 100%;
}
.sign-in-hover label{
    margin: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    align-self: center;
}
.sign-in-hover-label{
    top: 50px;
    color:$bgColor;
    width:200px;
    height: auto;
    position: absolute;
    background-color:$designColor;
    right: 25%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    z-index: 2;
    border: 2px solid $bgColor;
    box-shadow: 2px 2px 20px  grey ;
    // justify-content: space-around;
}
.mobile-nav-section{
    display: none;
}
.whatsapp-container{
    position: fixed;
    right: 20px;
    bottom: 40px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.wts-img{
    cursor: pointer;
    width: 65px;
    height: 65px;
    z-index: 2;
}
.join-container{
    width:0px;
    background-color:#25D366;
    height: 65px;
    position: absolute;
    right: 0px;
    display: flex;
    // justify-content: center;
    align-items: center;
}

.whats-animation-open{
    animation: sliding-whats-open 1s  1 linear forwards;

}

.whats-animation-close{
    animation: sliding-whats-close  1s  1 linear forwards;
}
.whats-text{
    cursor: pointer;
    color:$text-color;
    opacity: 0;
    padding-left: 40px;
    z-index: 2;
}
.show-text{
    display: block;
    animation: show-txt 1s 1 1s linear forwards;
}
@keyframes show-txt {
    0%{
        opacity: 0;
    }    
    100%{
        opacity: 1;
    }
}

@keyframes sliding-whats-open {
    0%{
        width: 0px;
    }
    100%{
        width: 300px;
    }
}
@keyframes sliding-whats-close {
    0%{
        width: 300px;
    }
    100%{
        width: 0px ;
    }
}
.user{
    color:$fontColor;
    width: 25px;
    height: 25px;
    background-color:$designColor;
    border-radius: 10px;
}
.user-span{
    padding-left: 10px;
    text-transform: capitalize;
}
.back-next-section{
    width: 100%;
}
.cart-label{
    position: relative;
    top: -10px;
    left: 3px;
}
.mobile-header{
    display: none;
}
@media screen and (max-width : 576px) {
    .mobile-header{
        margin-top: 20px;
        width: 100vw;
        height: 50px;
        box-shadow: 2px 2px 10px grey;
        display: flex;
        justify-content: space-between;
        position: fixed;
        background: $mobileBg;
        z-index: 2;
    }
    .cart-label{
        color:$designColor;
        font-weight: bold;
    }
    .cart-order{
        margin-right: 10px;
        width: 25vw;
        justify-content: space-around;
    }
    .menu{
        margin-left: 10px;
    }
    .header{
        display: none;
    }
    .render-container{
        width: 100%;
        height: auto;
        background-color:$mobileBg;
        position: relative;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    .mobile-nav-section{
        display: block;
        position: fixed;
        width: 60%;
        height: 100vh;
        background: $mobileBg;
        top: 0px;
        z-index: 3;
        padding-top: 10px;
        left: -60%;
    }
 .icon-font{
    color:$mobileBg;
    cursor: pointer;
    padding-top: 5px;
    font-size: 30px;
 }
 .mobile-nav-animation-on{
    animation: nav-motion-up 0.5s forwards linear;
 }
 @keyframes nav-motion-up {
    100%{
        left:0;
    }
 }
 .mobile-nav-animation-off{
     animation: nav-motion-down 0.5s forwards linear;
 }
 @keyframes nav-motion-down {
   0%{
    left:0;
   }
   100%{
    left: -60%;
   }
 }
 .mobile-nav-label-container{
    color:$designColor;
    font-size: 15px;
    width: 100%;
    height: 80%;
    justify-content: space-around;
    font-weight: bold;
 } 
 .nav-line{
    color:$designColor !important;
    width: 80%;
    height: 3px;
    font-weight: bold;
    // z-index: 3;
 }
 .close-icon{
    right: 10px;
    position: absolute;
    // z-index: 3;
 }

}