
<div class="accordian-container flex" [style.width]="reqProps.accordianWidth" (click)="accordianEvent($event)" >
        <h1 class="heading" [style.color]="reqProps.contentColor">
            {{reqProps.heading}}
        </h1>
        <i class="fa fa-angle-down" [style.color]="reqProps.contentColor" [ngClass]="accordianShow?'icon-rotate-forward':notInitial?'icon-rotate-rev':''"></i>
   
</div>
 <div [style.--animation-height]="reqProps.family=='Wears-Custom'?'300px':'150px'" class="panel flex-y" [style.width]="reqProps.accordianWidth" [ngClass]="accordianShow?'panel-open':notInitial?'panel-close':''" > 
    <app-show-msg [ngClass]="accordianShow?'d-block':'d-none'" *ngIf="reqProps.family=='Wears-Custom'" [msgText]="'If You custom shirts stiching with in a 3 hours.Proceed with click the custom button.'">

        </app-show-msg>
        <div class="flex-space-around" [style.width]="reqProps.accordianWidth" >
            <img [src]="reqProps.img" class="img" [ngClass]="accordianShow?'d-block':'d-none'"/>
            <div [ngClass]="accordianShow?'d-block':'d-none'" class="mobile-view">
                <span>
                    {{reqProps.description}}
                </span>
                <br/>
                <span>
                    {{reqProps.price | currency:'INR'}}
                </span>
                <br/>
                <span>
                    Quantity:&nbsp;{{reqProps.quantity}}
                </span>
                <br/>
                <div *ngIf="reqProps.family=='Wears-Custom'">
                    <strong>
                        Custom Stiching
                    </strong>
                    <div class="u-flex gap-10">
                        <div>
                            <input 
                            id="yes" 
                            type="radio" 
                            value="Yes" 
                            [name]="reqProps.heading"
                            [checked]="stichingFormShow" 
                            (change)="onSelectRadio('Yes')"   
                            class="pointer"
                            />
                            <label for="yes">
                                Yes
                            </label>
                        </div>
                        <div>
                            <input 
                            id="no" 
                            type="radio"
                            value="No" 
                            [name]="reqProps.heading" 
                            [checked]="!stichingFormShow" 
                            (change)="onSelectRadio('No')" 
                            class="pointer"
                            />
                            <label for="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<ng-container [ngTemplateOutlet]="stichingFormShow?customStichingForm:null">

</ng-container>

<ng-template #customStichingForm>
    <app-custom-stiching-fields (closeForm)="closeFormReceive($event)">
        
    </app-custom-stiching-fields>
</ng-template>