
<div class="accordian-container flex" [style.width]="reqProps.accordianWidth" (click)="accordianEvent()">
        <h1 class="heading" [style.color]="reqProps.contentColor">
            {{reqProps.heading}}
        </h1>
        <i class="fa fa-angle-up" [style.color]="reqProps.contentColor" [ngClass]="accordianShow?'icon-rotate-forward':notInitial?'icon-rotate-rev':''"></i>
   
</div>
 <div class="panel flex" [style.width]="reqProps.accordianWidth" [ngClass]="accordianShow?'panel-open':notInitial?'panel-close':''">
    <img [src]="reqProps.img" class="img" />
    <div class="">
        <p>
            {{reqProps.description}}
        </p>
        <p>
            {{reqProps.price | currency:'INR'}}
        </p>
        <p>
            Quantity:&nbsp;{{reqProps.quantity}}
        </p>
    </div>
</div>