
.product{
    justify-content: space-around;
    box-shadow: 2px 2px 20px  grey ;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    height: 200px;
}
.image{
    height: 100px;
}