@import "../../styles.scss";
.filters-container{
    margin-top: 10px;
    // background: $designColor;
    background-image: url("../../assets/product-bg.webp");
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: flex-end;
    padding: 0px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
// .filters-container::after{
//     content: '';
//     width: 100%;
//     position: absolute;
//     background: transparent;
//     left: 0px;
//     top: 0px;
//     height: 100%;
//     backdrop-filter: blur(1px);
// }
.filters-inner-container{
    margin: 0px;
    // width: 100%;
    height: 150px;
    background: $bgColor;
    // box-shadow: 2px 2px 5px grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 0;
}
.product{
    justify-content: space-around;
    box-shadow: 2px 2px 20px  grey ;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    height: 200px;
}
.image{
    height: 100px;
}
.product-content{
    align-items: start;
}
.icon{
    margin: 2px;
    font-size: 15px;
}
p{
    margin-bottom: 5px;
}
.star-container{
    margin-bottom: 5px;
}
.filters-icon{
    height: 100%;
}
.icon{
    font-size: 15px;
    padding-left: 5px;
}
.filter-span{
    color:$designColor;
    font-size: 18px;
}
.line{
    width: 2px;
    height: 80%;
    background: $designColor;
}
.search-inp{
    width: 70%;
    height: 40px;
    padding-left: 10px;
    border-bottom-left-radius: 15px;
    border: 2px solid $designColor;
}
.search-inp:focus{
    outline: none;
}
.search-btn{
    width: 15%;
    height: 40px;
    border: none;
    background: $designColor;
    border-top-right-radius: 15px;
}
.icon-search{
    color:$bgColor;
}
.price-values{
    margin-top: 10px;
    justify-content: space-between;
}
.price-values input{
    width: 50px;
} 
.price-values input::-webkit-inner-spin-button{
    -webkit-appearance: none;
} 
.price-ranges{
    height: 100%;
    position: relative;
    // justify-content: space-around;
}
.range-section{
    margin-top: 20px;
    position: relative;
    // top: 5px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    height: 5px;
}
.range-section .progress{
    width: 80%;
    height: 5px;
    position: absolute;
    border-radius: 5px;
    left: 10%;
    background: $designColor;
    right: 10%;
}
.range-min{
    position: absolute;
}
.range-max{
    position: absolute;
    left: -5px;
}
.range-inp{
    position: relative;
}
.range-inp input{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 5px;
    -webkit-appearance:none;
    background: none;
    pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb{
    cursor: pointer;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    background: $designColor;
    pointer-events: auto;
}
.btn-price{
    width: 50px;
    font-size: 14px;
}
.ranges-apply-section label{
    padding-right: 10px;
}
@media screen and (max-width:576px){
 .filters-container{
    height: 400px;
 }
 .filters-inner-container{
    height: 85%;
    flex-direction: column;
    // justify-content: space-around;
 }   
 .filters-icon{
    height: 50px;
 }
 .line{
    width: 90%;
    height: 2px;
     background: $designColor;
 }
 .price-ranges{
    padding-bottom: 10px;
    height: fit-content;
 }
 .range-section{
    width: 90%;
 }
 .price-values{
    width: 70%;
 }
}