
.product{
    justify-content: space-around;
    box-shadow: 2px 2px 20px  grey ;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    height: 200px;
}
.image{
    height: 100px;
}
.product-content{
    align-items: start;
}
.icon{
    margin: 2px;
    font-size: 15px;
}
p{
    margin-bottom: 5px;
}
.star-container{
    margin-bottom: 5px;
}