<ng-container *ngIf="favouriteList.length">
    <div class="container pad-top-other">
        <div class="row  justify-content-md-start justify-content-center">
            <div class="col-11 col-md-12 flex-end">
                  <button class="plain-btn" (click)="deleteAllFromFav()">
                    Delete All
                </button>
            </div>
            <div class="col-11 col-md-4 p-3" *ngFor="let data of favouriteList">
                <div class="product flex">
                    <i class="fa-solid fa-trash icon" (click)="deleteFromFav(data)"></i>
                    <div class="col-6 flex">
                        <img [src]="data.userFavourites.productImg" class="image" />
                    </div>
                    <div class="col-6 flex-vertical product-content ">
                        <h5>
                            {{data.userFavourites.productName}}
                        </h5>
                        <!-- <p>
                            {{data.productDes}}
                        </p> -->
                        <p class="f-bold">
                            {{data.userFavourites.productPrice | currency:'INR' | unit:data.userFavourites.productFamily}}
                        </p>
                        <button  class="btn" (click)="addToCart(data)">
                            Add Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-event-modal [inputMsg]="modalMsg" [actionFor]="actionFor" *ngIf="deleteModal" (sendEvent)="receiveEvent($event)"></app-event-modal>
</ng-container>
<ng-container *ngIf="!favouriteList.length">
    <app-no-records-found></app-no-records-found>
</ng-container>