@import "../../styles.scss";
.login-section{
    margin-top: 80px;
    width: 100vw;
    height: 555px;
    position: relative;
    overflow: hidden;
}
.mens-cloth1{
    height: 250px;
    position: absolute;
    animation: mens-cloth1-move 2s ease-in-out forwards;
    left:5vw;
    top: 0vh;
    filter: drop-shadow(2px 2px 5px grey);
}
@keyframes mens-cloth1-move{
    0%{
        transform: translate(-500px,-200px);
        animation-delay: 0.5s;
    }
    50%{
        filter: drop-shadow(20px 15px 10px grey);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.mens-cloth5{
    height: 250px;
    position: absolute;
    animation: mens-cloth5-move 2s ease-in-out forwards;
    left:23vw;
    top: -5vh;
    filter: drop-shadow(2px 2px 5px grey);
}
@keyframes mens-cloth5-move{
    0%{
        transform: translate(-80vw,90vh);
        animation-delay: 0.5s;
    }
    50%{
        filter: drop-shadow(20px 15px 10px grey);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.mens-cloth3{
    height: 250px;
    position: absolute;
    left:18vw;
    top: 38vh;
    animation: mens-cloth3-move 2s ease-in-out forwards;
    filter: drop-shadow(-2px -2px 5px grey);
}
@keyframes mens-cloth3-move{
    0%{
        transform: translate(120vw,120vh);
    }    
    85%{
        filter: drop-shadow(-20px -15px 10px grey);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.login-form{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.input-field{
    margin-top: 15px;
    width: 380px;
    height: 40px;
    padding-left: 25px;
    border-radius: 20px;
    border: 2px solid grey;
    outline: none;
    box-shadow: inset 5px 5px 10px #a9b4b8;
    font-size: 15px;
}
.submit-btn{
    cursor: pointer;
    margin-top: 12px;
    width: 380px;
    height: 45px;
    border-radius: 20px;
    align-self: center;
    color:$bgColor;
    background-color:$designColor !important;
    border-style: none;
    position: relative;
}

.submit-btn:hover::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    z-index: -1;
    border-radius: 20px;
    background-color:$designColor;
    filter: blur(5px);
}
.submit-btn:hover{
    color:$designColor;
    background-color:$bgColor !important;
    border: 2px solid $designColor;
}
.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;    
    right: 20vw;
    top: 0vh;
    animation: form-animation 2s forwards ease-in-out;
    animation-delay:0.1s;
    opacity: 0;
    filter: drop-shadow(-2px -2px 5px grey);
    z-index: 2;
}
@keyframes form-animation{
    0%{
        opacity: 1;
        transform: translate(100vw,-100vh);
    }
    50%{
        filter: drop-shadow(5px 5px 10px grey);
    }
    100%{
        opacity: 1;
        transform: translate(0px,0px);
        filter: drop-shadow(0px 0px 0px grey);
    }
}
.form-head{
    margin: 0px ;
    color:$designColor;
}
.forgot-section{
    margin-top: 10px;
    width: 100%;
    justify-content: flex-end;
    color:$designColor;
}
.dont-have-section {
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    color:$designColor;
}
.user-section{
    position: relative;
}
.icon{
    color:$designColor;
    position: absolute;
    font-size: 20px;
    top: 28px;
    right: 15px;
}
.eye,a{
    cursor: pointer;
}
.card-train{
    color:$designColor;
    width:650px;
    height: 200px;
    position: absolute;
    top: 50vh;
    right: 5vw;
    overflow: hidden;
    mask-image:linear-gradient(to right,transparent,#000000 30%,#000000 70%,transparent);
}
.cards{
    cursor: pointer;
    width:100px;
    height: 65px;
    box-shadow: 0px 0px 10px grey;
    animation: card-motion 10s linear infinite;
    position: absolute;
    left: 100%;
    background-color:$bgColor;
    transform: rotate(-30deg) skew(35deg);
    transform-origin: right;
    transform-style: preserve-3d;
    flex-shrink: 0;
}
.cards::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 65px;
    background-color:#c2c4c4;
    left: -10px;
    transform: skewY(-45deg);
    top: 2.5px;
}
.cards::after{
    content: '';
    position: absolute;
    width:103px;
    height: 10px;
    background-color:#c2c4c4;
    top: 63px;
    transform: skewX(-45deg);
    left: -5px;
}
.cards:hover{
    transform:rotate(-30deg) skew(35deg) translate(5px,-5px);
    transition: 0.3s linear;
    box-shadow: -20px 20px 100px grey;
}
.card1{
    animation-delay: -8s;
}
.card2{
    animation-delay: -6s;
}
.card3{
    animation-delay: -4s;
}
.card4{
    animation-delay: -2s;
}
.card5{
    animation-delay: 0s;
}
@keyframes card-motion{
to{
    left: -120px;
}
}
@media screen and (max-width : 576px) {
    .mens-cloth1{
        display: none;
    }
    .mens-cloth5{
        display: none;
    }
    .mens-cloth3{
        display: none;
    }
    .form-section{
        animation: none;
        position: relative;
        opacity: 1;
        top: 0px;
        right: 0px;
        height: 100vh;
        filter: none;
    }
    .render-container{
        height: 100vh;
    }
    .login-section{
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
    }
    .login-section::after{
        content: '';
        width: 100vw;
        height: 20vh;
        position: absolute;
        background-color:$designColor;
        border-top-right-radius:10%;
        border-top-left-radius: 80px;
        right:-5vw;
        rotate: 15deg;
        bottom:-12vh;
        box-shadow: -5px -5px 5px grey;
    }
    .login-section::before{
        content: '';
        width: 100vw;
        height: 20vh;
        position: absolute;
        background-color:$designColor;
        border-bottom-right-radius:80px;
        border-bottom-left-radius: 10% ;
        box-shadow: 5px 5px 10px grey;
        rotate: 15deg;
        left: -5vw;
        top: -12vh;
    }
    .input-field{
        width: 80vw;
    }
    .login-form{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon{
        right: 20px;
    }
    .submit-btn{
        width: 80vw;
    }
    .forgot-section,.dont-have-section{
        width: 80vw;
    }
    .card-train{
        display: none;
    }
    
}
