
<div class="container place-order-container pad-top-other"  *ngIf="orderDetails">
    <div class="row">
        <div class="col-md-6 col-12  flex mt-2">
            <img [src]="orderDetails?.productImg" alt="order-image" class="order-img" />
        </div>
        <div class="col-md-6 col-12  flex mt-2 order-product-det">
            <h4>
                {{orderDetails?.productName}}
            </h4>
            <p>
                {{orderDetails?.productDes}}
            </p>
            <p>
                {{orderDetails?.productPrice | currency:'INR'}}
            </p>
            <p>
                Quantity:{{orderDetails?.quantity}} 
                @switch(orderDetails?.productFamily){
                    @case('Wears'){
                        <b>Piece</b>
                    }
                    @case('Gadgets'){
                        <b>Piece</b>
                    }
                    @case('Asthetics'){
                        <b>piece</b>
                    }
                    @case('Groceries'){
                        <b>Kg</b>
                    }
                    @case('Utensils'){
                        <b>Set</b>
                    }
                    @default{
                        <b>default</b>
                    }
                }
            </p>
            <button class="btn m-1" (click)="deliveryAddress(orderDetails)">
                Confirm Order
            </button>
            <!-- <button class="btn m-1" (click)="confirmOrder(orderDetails)" [disabled]="this.addressForm.status == 'INVALID'">
                Confirm Order
            </button> -->
        </div>
    </div>
</div>
<ng-container *ngIf="deliveryAddressForm">
    <div class="payment-popup mt-3 mb-3 flex">
        <div class="payment-form flex">
            <form class="product-details p-2" [formGroup]="addressForm" (ngSubmit)="onSubmitAddress()">
                <i class="fa fa-window-close close-icon" aria-hidden="true" (click)="onCloseForm()"></i>
                <div class="flex-vertical">
                    <h4>
                        User Address
                    </h4>
                </div>
                    <p class="fields-para mt-3">***All are manditory fields***</p>
                <div class="flex input-div">
                    <input class="input-field" type="text" placeholder="Enter the six-digit pincode" formControlName="pincode" (input)="postalCode()" maxlength="6"/>
                </div>
                <div class="flex input-div">
                    <input class="input-field" type="number" placeholder="Enter the phone" formControlName="phone" />
                </div>
                <div class="flex input-div">
                    <select  class="input-field" formControlName="payOnDelivery">
                        <option  [disabled]="true" >
                            ---select-cashon-delivery---
                        </option>
                            <option>
                                Yes
                            </option>
                            <option>
                                No
                            </option>
                    </select>
                </div>
                <div class="flex input-div">
                    <select  class="input-field" formControlName="village">
                        <option  [disabled]="true" >
                            ---select-the-area---
                        </option>
                        @for(village of villageList;track village){
                            <option>
                                {{village}}
                            </option>
                        }
                    </select>
                </div>

                <div class="flex input-div">
                    <textarea class="input-field" placeholder="Enter the address..."formControlName="address"></textarea>
                </div>
                <div class="flex">
                    <button class="btn mt-2 mb-2" type="submit">
                    Submit
                    </button>
                </div>
            </form>
            <!-- <div class="razor-div">

            </div> -->
        </div>
    </div>
</ng-container>