@import "../../styles.scss";
.place-order-container{
    width: 100vw;
    height:transform;
}
.order-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.order-product-det{
    flex-direction: column;
}
.btn{
    margin-bottom: 30px;
    width: 200px;
}
.payment-popup{
    width: 100vw;
    height: 100vh;
    position: absolute;
    backdrop-filter:blur(5px);
    top: 0px;
    left: 0px;
    background-color:transparent;
    align-items: start;
    z-index: 2;
}
.payment-form{
//   height: transform;
  box-shadow: 0px 2px 5px grey;
}
.product-details{
    width: 350px;
    height:500px;
    background: #ffffff;
    position: relative;
     flex-direction: column;
     overflow-y: scroll;
}
.close-icon{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 3px;
}
.razor-div{
    width: 400px;
    height: 500px;
    background: #ffffff;
}
.input-div{
    margin: 10px;
    width: 300px;
    justify-content: space-between;
    align-items: start;
}
.input-field{
    width: 200px;
}
.label-txt{
    font-weight: bolder;
}
.input-height{
    height: 40px;
}
.input-field{
    margin-top: 15px;
    width: 380px;
    height: 40px;
    padding-left: 25px;
    border-radius: 20px;
    border: 2px solid grey;
    outline: none;
    box-shadow: inset 5px 5px 10px #a9b4b8;
    font-size: 15px;
}
.fields-para{
    color:red;
    text-align: center;
    padding: 0px !important;
}
.existing-address{
    align-items: start;
}
.existing-address b{
    width: 300px;
    color:$designColor;
    padding: 3px;
}
.address{
    cursor: pointer;
    width: 100%;
    border: 2px solid;
    padding: 3px;
}
.address-active{
    color:green;
    border: 2px solid green;
}