
<div class="container place-order-container pad-top-other"  *ngIf="orderDetails">
    <div class="row">
        <div class="col-12 flex-end">
                <button class="btn m-3" (click)="deliveryAddress()">
                    Confirm Order
                </button>
        </div>
        <ng-container *ngFor="let order of orderDetails">
            <!-- <div class="flex">
                <div class="col-md-6 col-12  flex mt-2">
                    <img [src]="order?.productImg" alt="order-image" class="order-img" />
                </div>
                <div class="col-md-6 col-12  flex mt-2 order-product-det">
                    <h4>
                        {{order?.productName}}
                    </h4>
                    <p>
                        {{order?.productDes}}
                    </p>
                    <p>
                        {{order?.productPrice | currency:'INR'}}
                    </p>
                    <p>
                        Quantity:{{order?.quantity}} 
                        @switch(order?.productFamily){
                            @case('Wears'){
                                <b>Piece</b>
                            }
                            @case('Gadgets'){
                                <b>Piece</b>
                            }
                            @case('Asthetics'){
                                <b>piece</b>
                            }
                            @case('Groceries'){
                                <b>Kg</b>
                            }
                            @case('Utensils'){
                                <b>Set</b>
                            }
                            @default{
                                <b>default</b>
                            }
                        }
                    </p>
                </div>
            </div> -->
            <app-generic-accordian 
            [reqProps]="{
                contentColor:'#f2b50c',
                accordianWidth:'100%',
                heading:order?.productName,
                description:order?.productDes,
                price:order?.productPrice*order?.quantity,
                img:order?.productImg,
                quantity:order?.quantity
            }">

            </app-generic-accordian>
        </ng-container>
    </div>
</div>
<ng-container *ngIf="deliveryAddressForm">
    <div class="payment-popup mt-3 mb-3 flex">
        <div class="payment-form flex">
            <form class="product-details p-2" [formGroup]="addressForm" (ngSubmit)="onSubmitAddress()">
                <i class="fa fa-window-close close-icon" aria-hidden="true" (click)="onCloseForm()"></i>
                <div class="flex-vertical">
                    <h4>
                        User Address
                    </h4>
                </div>
                <div class="existing-address flex-vertical" *ngIf="addressList.length">
                    <b>
                        use existing address
                    </b>
                        @for(address of addressList;track address){
                            <div class="address m-1" [ngClass]="address.active?'address-active':''" (click)="selectAddress(address)">
                                {{address.addressVal}}
                            </div>
                        }
                    
                </div>
                <p class="fields-para mt-3">***All are manditory fields***</p>
                <div class="flex input-div">
                    <input class="input-field" type="text" placeholder="Enter the six-digit pincode" formControlName="pincode" (input)="postalCode()" maxlength="6"/>
                </div>
                <div class="flex input-div">
                    <input class="input-field" type="number" placeholder="Enter the phone" formControlName="phone" />
                </div>
                <div class="flex input-div">
                    <select  class="input-field" formControlName="payOnDelivery">
                        <option  [disabled]="true" >
                            ---select-cashon-delivery---
                        </option>
                            <option>
                                Yes
                            </option>
                            <option>
                                No
                            </option>
                    </select>
                </div>
                <div class="flex input-div">
                    <select  class="input-field" formControlName="village">
                        <option  [disabled]="true" >
                            ---select-the-area---
                        </option>
                        @for(village of villageList;track village){
                            <option [value]="village">
                                {{village}}
                            </option>
                        }
                    </select>
                </div>

                <div class="flex input-div">
                    <textarea class="input-field" placeholder="Enter the address..."formControlName="address"></textarea>
                </div>
                <div class="flex">
                    <button class="btn mt-2" type="submit">
                    Submit
                    </button>
                </div>
            </form>
            <!-- <div class="razor-div">

            </div> -->
        </div>
    </div>
</ng-container>