
/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
$bgColor:#FFFFFF;
$fontColor:#000000;
$designColor:#f2b50c;
$mobileBg:#f2f2f2;
$orange:#f2b50c;
$text-color:#d5e3d9;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
::-webkit-scrollbar{
    width: 5px;
}
.m-top{
    margin-top: 80px;
}
.pad-top{
    padding-top: 0px;
}
::-webkit-scrollbar-thumb{
    background: $designColor;
    border-radius: 10px;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex{
    display: flex;
    justify-content:center;
    align-items: center;
}
.flex-vertical{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
body{
    font-family: $fontFamily;
}
.icon-font,.icon{
    cursor: pointer;
    color:$designColor;
    font-size: 20px;
}
.btn{
    cursor: pointer;
    color:$bgColor;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color:$designColor;
}
.btn:hover{
    color:$bgColor;
    background-color:$fontColor;
}
.brand-img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width : 576px) {
    .pad-top{
        padding-top: 50px;
    }
    .pad-top-other{
        padding-top: 80px;
    }
}