
/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
$bgColor:#ffffff;
$fontColor:#000000;
:host{
// --designColorBlue:red;
display: block;
}
$designColor:#f2b50c;
$mobileBg:#f2f2f2;
$orange:#f2b50c;
$text-color:#d5e3d9;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headingFontFamily:'Gotham-Medium';
$paraFontFamily:'Gotham-book';
::-webkit-scrollbar{
    width: 5px;
}
.m-top{
    margin-top: 80px;
}
.pad-top{
    padding-top: 0px;
}
::-webkit-scrollbar-thumb{
    background: $designColor;
    border-radius: 10px;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex{
    display: flex;
    justify-content:center;
    align-items: center;
}
.flex-vertical{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.flex-end{
    display: flex;
    justify-content:end;
    align-items: center;
}
body{
    // font-family: $fontFamily;
}
.icon-font,.icon{
    cursor: pointer;
    color:$designColor;
    font-size: 20px;
}
.btn{
    cursor: pointer;
    color:$bgColor;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color:$designColor;
}
.btn:hover{
    color:$bgColor;
    background-color:$fontColor;
}
.brand-img{
    width: 100%;
    height: 100%;
}
.generic-heading{
    color:$designColor;
    // color:var(--designColorBlue,'blue');

}
.h2-font{
    font-size: 30px;
}
.generic-para{
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6,label,button,strong,b,th{
    font-family: $headingFontFamily;
}
p,span,input,td{
    font-family: $paraFontFamily;
}
@media screen and (max-width : 576px) {
    .pad-top{
        padding-top: 50px;
    }
    .pad-top-other{
        padding-top: 80px;
    }
}