/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
}
$bgColor:#FFFFFF;
$fontColor:#000000;
$designColor:#f2b50c;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex{
    display: flex;
    justify-content:center;
    align-items: center;
}
body{
    font-family: $fontFamily;
}