@import "../../styles.scss";
.msg-modal{
    width: 100vw;
    height: 100vh;
    background-color:transparent;
    position:fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
     backdrop-filter:blur(5px);
     box-shadow: 2px 2px 10px grey;
     z-index: 2;
}
.modal-box{
    width: 500px;
    height:200px;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px grey;
    position: relative;
}
.icon{
    position: absolute;
    top: 5px;
    right: 5px;
}
p{
    font-weight: bold;
}
@media screen and (max-width:576px){
.modal-box{
    width: 90%;
    height: 150px;
}
}